
.login-parent{
    background-color: #cadff5;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 55%;
    /* height: 100%; */
    border-radius: 2vmin;
    font-size: 2vmin;
}
.login-midparent{
    font-size: 2vmin;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 45%;
    background-color: #0e2a47;
    border-radius: 1.6vmin;
    z-index: 5;
}
.logo{
    width: 24vmin;
    height: 27vmin;
    background-image: url('../Image/acadLOGO.png');
    background-size: cover;
    margin: 3vmin;
}
.signUp-popUp{
    margin: 2vmin;
    font-weight: bold;
}
.login-gp{
    margin: auto;
    margin-top: 15vmin;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    width: 100vmin;
    height: 69vmin;
    border-radius: 2.1vmin;
    background-color: #cadff5;
    font-size: 1vmin;
    box-shadow: 1.3vmin 1.3vmin 1.4vmin 0.2vmin rgb(31, 30, 30);
}
.signin{
    border-radius: 1vmin;
    border: 0.2vmin solid black;
    margin: 2vmin;
    font-size: 2.5vmin;
}
